.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.loading .back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    opacity: 0.5;
}

.loading .logo {
    position: relative;
    font-size: 12px;
    font-size:1.5vw;
    text-align: center;
    vertical-align: middle;
    align-self:center;
}

.loading .logo i{
    padding: 10px;
}

.loading .logo span{
    padding-right: 10px;
}

.loading .progressBar{
	position: relative;
    text-align: center;
    position: relative;
    width:100%;
    height:100%;
    border:1px solid black;
    min-height:20px;
}


.loading .progressBefore{
	position: absolute;
	height:100%;
	width:0%;
	background-color: steelblue;
}

.loading .progressVal{
    position:relative;
    top:0%;
    vertical-align: middle;
}


#root{
    position: absolute;
    left:10%;
    width:40%;
    height:30%;
    top:20%;
}
